.UL {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.LI {
    float: left;
}

.LI a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.LI a:hover:not(.active) {
    background-color: green;
}

.active {
    background-color: #4CAF50;
}

h1 {
	font-family: "Brush Script MT", cursive;
	font-size: 50px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
    color: red;
    display: inline-block;
    margin: 70px 10px;
    vertical-align: top;
}

img{
    display: inline-block;
    margin: 20px;
}

#aboutMe{
	font-family: "Chalkduster", fantasy;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
    color: black;
    display: inline-block;
    margin: 10px;
    vertical-align: top;
}

#project{
    display: inline-block;
    vertical-align: top;
    margin: 40px;
}

/*form*/
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}