<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>DojoDachi</title>
        <link rel="stylesheet" type="text/css" href="~/css/style.css">
        <link rel="icon" type="image/png" href="~/img/NINJA.png">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">

    </head>
    <body>
        <div class="ui center aligned container">
            <br><br>
            <h4><pre>Fullness: @ViewBag.Fullness   Happiness: @ViewBag.Happiness   Meals: @ViewBag.Meals   Energy: @ViewBag.Energy</pre></h4>
            <div class="box-div">
                <img srcset="~/img/minion-WON.jpg" alt="My default image" width="200px">
                <h4>Congradulation! Your Minion has achieved BEAST mode! </h4>
            </div><br>
            <form action="/restart" method="Post">
                <button type="submit" class="ui button inverted orange">Restart?</button>
            </form>
        </div>
    </body>
</html>