
.container{
  margin: 0px auto;
}
.row{
  background-color: gray;
  display: inline-block;
  border: 3px solid black;

}

.col-xs-6 .col-md-4{
  margin: 10px;
  border: 0px;
  /*text-align: right;*/

}
.yourName{
  background-color: rgb(230, 226, 235);
  margin-left: 4px;
  margin-top: 5px;
}
.locSelector{
  background-color: rgb(230, 226, 235);
  margin-left: 60px;
  margin-top: 5px;
}
.landSelector{
  background-color: rgb(230, 226, 235);
  margin-left: 17px;
  margin-top: 5px;
}
.button{
  background-color: lightblue;
  margin-top: 5px;
  margin-left: 174px;
}
.form1{
  width: 250px;
}
.row1{
  display: inline-block;
  border: 3px solid black;
  width: 350px;
  background-color: gray;
}
textarea{
  background-color: rgb(230, 226, 235);
}
h3{
  width: 160px;
  display: inline-block;
  border-bottom: 1px solid black;
}
