<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Index</title>
        <!--In this context '~' refers to the wwwroot folder-->
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <!--The Home page should have a picture, name, and about me section-->
        <ul class="UL">
            <li class="LI"><a class="active" href="/">Home</a></li>
            <li class="LI"><a href="/projects">Projects</a></li>
            <li class="LI"><a href="/contact">Contact</a></li>
        </ul>
        <img srcset="~/img/Eli.jpg" alt="My default image" width="200px">
        <div id="aboutMe">
            <h3>Hello my name is Ilyaz Fayzul</h3>
            <h4>Little bit about me:</h4>
            <ul>
                <li>Iam learning how to code</li>
                <li>My favorite language is C#</li>
                <li>I enjoy learning at the Coding Dojo</li>
            </ul>
        </div> 
    </body>
</html>