@{
    ViewData["Title"] = "QuotingDojo";
}
<h1>Here are the awesome quotes!</h1><br><br><br><br>

@foreach(var quote in @ViewBag.allQuotes) {
  <ul>
    <li>@quote["quote"]</li>
    <li> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; - @quote["name"] at @quote["created_at"]</li>
  </ul><hr>
}



