<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width = device-width, initial scale = 1">
		<title>Survey Form</title>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="{% static 'loginApp/css/styles.css' %}">
	</head>
	<body>
		<div class="container">
      <div class="well">
        <div class="row">
          <div class="col-md-7">
						<fieldset>
							<div id="legend">
								<legend class="">Submitted Information</legend>
							</div>
							<div class="control-group">
								<label class="control-label"  for="name">Name: </label> <%= result.name %>
							</div><br>

							<div class="control-group">
								<label class="control-label"  for="name">Dojo Location: </label> <%= result.location %>
							</div><br>

							<div class="control-group">
								<label class="control-label"  for="name">Dojo Language: </label> <%= result.language %>!!!
							</div><br>

							<div class="control-group">
								<label class="control-label"  for="name">Comment: </label> <%= result.comment %>
							</div><br>
							<hr>

							<div class="control-group">
								<div class="controls">
									<a href="/" class="btn btn-primary" >Go Back</a>
								</div>
							</div>
						</fieldset>
          </div><!-- col-md6 ends here for Registration-->
        </div><!-- Row ends here-->
      </div><!-- well ends here-->
		</div> <!-- container 1 ends here -->

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</body>
</html>
<!-- ///////////////////////// -->
